@import "tailwindcss";


.istrue {
    display: flex;
}

.isfalse {
    display: none;
}

.bar {
    display: none;
}

.swal-ok-btn {
    background-color: #D9176C;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.swal-ok-btn:hover {
    background-color: #b51a5d;
    color: white;
}

.swiper-wrapper{
    display: flex;
    justify-content: center; 
    align-items: center;
}
.swiper-slide {
     margin-right: 0  !important ; 
     display: flex !important;
     justify-content: center;
     align-items: center;
}

@media (max-width: 640px ) {
    .hidden2 {
        display: none;
    }

    .bar {
        display: flex;
    }

    .istrue {
        display: flex;
        
    }

    .isfalse {
        display: none;
    }

    .mynav {
        display: none;
    }

    .mynav1 {
        display: flex;
        position: absolute;
        background-color: white;
        left: 0;
        top: 80px;
        width: 100%;
        z-index: 999;
        padding: 10px;
        color: black;
    }

    .user {
        display: none;
    }

    .close {
        display: none;
    }

    .opn {
        position: absolute;
        left: 20px;
        width: 90%;
        z-index: 999;
    }

    .mytable {
        overflow: hidden;
    }

    .mytr {
        display: flex;
        flex-direction: column;
    }

}
@media (max-width: 1024px) {

    .bar {
        display: flex;
    }

    .istrue {
        display: flex;
        
    }

    .isfalse {
        display: none;
    }

    .mynav {
        display: none;
    }

    .mynav1 {
        display: flex;
        position: absolute;
        background-color: white;
        left: 0;
        top: 80px;
        width: 100%;
        z-index: 999;
        padding: 10px;
        color: black;
    }

    /* .user {
        display: none;
    } */

    .close {
        display: none;
    }

    .opn {
        position: absolute;
        left: 20px;
        width: 90%;
        z-index: 999;
    }

    .mytable {
        overflow: hidden;
    }

    .mytr {
        display: flex;
        flex-direction: column;
    }

}